<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head th:fragment="common-head">
    <meta charset="UTF-8">
    <meta name="referrer" content="always">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="logo icon" type="image/x-icon" th:href="@{/common/images/logo.ico}">
    <title>妃子校SaaS运营后台</title>
    <!--引入公共css-->
    <link rel="stylesheet" th:href="@{/common/css/code.css}">
    <link rel="stylesheet" th:href="@{/common/css/layui.css}">
    <link rel="stylesheet" th:href="@{/common/css/main.css}">
    <link rel="stylesheet" th:href="@{/common/css/seting.css}">
    <!--modules 中css-->
    <!--<link rel="stylesheet" th:href="@{/css/modules/code.css}">
    <link rel="stylesheet" th:href="@{/css/laydate/default/laydate.css}">
    <link rel="stylesheet" th:href="@{/css/layer/default/layer.css}">-->
    <!--引入jq-->
    <script type="text/javascript" th:src="@{/common/js/jquery/jquery.min.js}"></script>
    <!--引入公共js-->
    <script type="text/javascript" th:src="@{/common/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/common/js/base.js}"></script>
    <!--引入jquery-validate.js表单验证-->
    <script type="text/javascript" th:src="@{/common/js/validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/common/js/validate/localization/messages_zh.min.js}"></script>
    <script type="text/javascript" th:src="@{/common/js/page/publicUtils.js}"></script>
    <script type="text/javascript">
        var basePath = '[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]';
        var _upload_url = '[[${upload_img_url}]]';
        var _download_url = '[[${download_img_url}]]';
        $.ajaxSetup({
            type: 'post',
            complete: function (xhr, status) {
                var header = xhr.getResponseHeader("sessionTimout");
                if (header == "saasTimout") {
                    alert("登录超时请重新登录");
                    top.location.href = basePath + '/login';
                }
            }
        })
    </script>
</head>
</html>