<html xmlns:th=http://www.thymeleaf.org>
<!--此处引入公共的模板页面即可，不用在每个页面引入js和css-->
<head th:replace="common/head::common-head">
    <title>登录</title>
</head>
<body>
<div class="login">

    <form th:action="@{/login}" id="form-area" class="form-area" autocomplete="on" method="post">
        <img th:src="@{/common/images/login-top.png}" alt="" class="top-pic">
        <div class="form-ctrl">
            <label for="username" class="icon icon-user"></label>
            <input type="text" id="username" name="username" placeholder="用户名" class="form-input">
            <i class="del"></i>
        </div>
        <div class="form-ctrl">
            <label for="password" class="icon icon-pwd"></label>
            <input type="password" id="password" name="password" placeholder="密码" class="form-input">
            <i class="del"></i>
        </div>
        <div class="form-ctrls clearfix">
            <label for="verify" class=""></label>
            <input type="text" id="verify" name="verifyCode" placeholder="请输入验证码" class="verify-input">
            <span class="v-code">
				<img src="/verification" alt="" onclick="this.src='/verification?d='+new Date()*1">
			</span>
            <i class="del"></i>
        </div>
        <input type="button" value="登录" class="submit-btn">
    </form>
</div>

<script type="text/javascript">
    $(function () {
        var msg = '[[${msg}]]';
        if (msg != 'null' && msg != '' && msg.length > 0) {
            error(msg);
        }
        $(".login .form-ctrl .del").click(function () {
            console.log(1);
            $(this).siblings(".form-input").val("");
        })
        var validateForm = $('#form-area').validate({
            onkeyup: false,
            onfocusout: false,
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                },
                verifyCode: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: '请填入账号'
                },
                password: {
                    required: '请填入密码'
                },
                verifyCode: {
                    required: "请输入验证码"
                }
            },
            showErrors: function (errorMap, errorList) {
                var msg = '';
                $.each(errorList, function (i, v) {
                    msg = v.message;
                });
                if (msg != '') jumpError(msg);
            }
        });

        $('.submit-btn').click(function () {
            if (!validateForm.form()) return;
            $('#form-area').submit();
        });
    });

    function updateImg() {
        alert(8888);
        $(this).attr("src", basePath + '/verification?d=' + new Date() * 1);
        // this.src = basePath + '/verification?d=' + new Date() * 1
    }

    if (top.location != self.location) {
        top.location = self.location;
    }
</script>
</body>
</html>